{% extends 'base.html' %}
{% block content %}


<main class="py-5 container">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Welcome. This application allows the creation of a user and the management of task notes that you will carry out. Feel free to try the app. Thanks for the visit.
        </p>
        <p>Developed by Javier Lopez</p>
        <div>  
        <a class="btn btn-primary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-secondary" href="/signup/">
            Signup
        </a>
    </div>
        </section>
</main>


{% endblock %}