{% extends 'base.html' %}
{% block content %}


<main class="py-5 container">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit optio assumenda odit consectetur adipisci nobis voluptate nemo? Qui laudantium id ducimus cumque blanditiis sed totam, natus vitae impedit repudiandae ullam!
        Animi numquam ullam id omnis officiis aperiam modi similique! Ipsa ipsam praesentium, odit et ratione culpa laudantium quis voluptatum itaque quaerat minima, alias minus natus obcaecati veritatis expedita neque. Dicta.
        Voluptates dolor quod autem dolorem sapiente! Non, harum dolorem! Repellendus ratione, quasi amet reprehenderit cum maxime vitae. Dolorum, adipisci dolorem incidunt iure unde molestiae, tenetur ducimus, cupiditate omnis id temporibus!
        Culpa, est dolorum beatae mollitia eveniet quos suscipit iste, veniam ut, voluptas perferendis neque vitae voluptates omnis fuga qui eligendi? Dolorem laborum sequi sit quae, minus obcaecati ipsum in rerum?
        Perferendis iure aliquam qui ratione repellat culpa, atque incidunt officiis, eaque laudantium ut quam quo quidem consequuntur harum voluptatem eligendi corrupti est ex rerum! Non dolorem sit ipsa accusamus voluptates.
        </p>
        <div>  
        <a class="btn btn-primary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-secondary" href="/signup/">
            Signup
        </a>
    </div>
        </section>
</main>


{% endblock %}